body{
  
  margin:0px;
}

.red {
  
  width: 50px;
  height: 50px;
  background-color: red;
  position:absolute;
  left:100px;
  top:100px;  
}

.blue {
  
  width: 50px;
  height: 50px;
  background-color: blue;
  position:absolute;
  top:50px;
  left:50px;

}

.yellow {
  width: 50px;
  height: 50px;
  background-color: yellow;
   
}
